@model IEnumerable<LibraryProject.Models.Model.Yazar>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
            }
        });
    });
</script>
<section role="main" class="content-body">
    <h2>YAZARLAR</h2>
    <a class="btn btn-info mb-2" href="/Yazar/YazarEkle/">YENİ KAYIT</a>
    <table class="table table-bordered table-hover table-responsive-sm table-striped table-info" id="myTable">
        <thead>
            <tr>
                <th>SIRA</th>
                <th>RESİM</th>
                <th>AD SOYAD</th>
                <th>YAZARIN KİTAPLARI</th>
                <th>İŞLEMLER</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.YazarSira</td>
                    <td><img src="@item.Resim" width="60" height="50" /></td>
                    <td>@item.YazarAdSoyad</td>
                    <td> <a href="/Yazar/YazarKitaplar/@item.YazarId/"> <i class="fa fa-book"></i>GÖRÜNTÜLE </a></td>
                    <td>
                        <a href="/Yazar/YazarGuncelle/@item.YazarId"> <i class="fa fa-edit"></i>Güncelle </a> |
                        <a href="/Yazar/Delete/@item.YazarId" onclick="return confirm('Silmek İstediğinizden Emin Misiniz')"> <i class="fa fa-trash"></i>Sil </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>
