@model IEnumerable<LibraryProject.Models.Model.User>

@{
    ViewBag.Title = "Kullanıcılar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section role="main" class="content-body">
    <h2>KULLANICILAR</h2>
    <a class="btn btn-info mb-2" href="/Admin/KullaniciEkle/">YENİ KAYIT</a>
    <table class="table table-bordered table-hover table-responsive-sm table-striped table-info">
        <tr>
            <th>AD SOYAD</th>
            <th>YETKİ</th>
            <th>İŞLEMLER</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.AdSoyad</td>
                <td>@item.Yetki</td>

                <td>
                    <a href="/Admin/KullaniciGuncelle/@item.AdminId"> <i class="fa fa-edit"></i>Görüntüle </a> |
                    <a href="/Admin/Delete/@item.AdminId" onclick="return confirm('Silmek İstediğinizden Emin Misiniz')"> <i class="fa fa-trash"></i>Sil </a>
                </td>
            </tr>
        }

    </table>

</section>

